* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;

}
.clear {
    clear: both;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    border: black;
}
header {
    height: 120px;
    padding-top: 30px;
    background-color: white;
}
.logo {
    float: left;
    width: 430px;
    margin-top: 20px;
}
.logo img {
    height: 60px;
    width: 300px;



}
.cloud {
    width: 270px;
    float: left;
}
.cloud img {
    height: 80px;
    padding-top: 10px;

}
.ph {
    float: left; 
    width: 300px;
    padding: 5px;
}
.ph img {
    height: 30px;
    float: left;
    padding-left: 127px;

}
.ph p {
    padding-top: 10px;
    color: rgb(240, 140, 59);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;

} 
.search  {
    margin: 10px 0 0 -25px;
    padding-top: 13px;
    width: 155px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    color: grey;
    padding-left: 30px;
    
    padding-bottom: 7px;
    box-shadow: 2px 4px rgba(148, 146, 146, 0.637);
    font-size: 12px;
    height: 30px;


}

.menu {
    background: green;
    height: 60px;
    border-radius: 8px 8px 0 0;
}
.menu ul {
    list-style: none;
    padding-top: 20px;

}
.menu ul li {
    float: left;  
}

.menu ul li a {
    text-decoration: none;
    font-size: 15 px;
    color: lightgreen; 
    font-family: Arial, Helvetica, sans-serif;
    padding-left:70px;

    text-transform: uppercase;



}
.slider {
    height: 120px;
}
.slider img {
    width: 100%;
    height: 100%;

}
.content {
    font-family:monospace;
    text-align: justify;
    padding: 20px;

}
.content .left {
    float: left;
    width: 60%;
}
.left h1 {
    color: red;
    padding-top: 30px;
}
.content .left h2, .features h2 {
    color: orange;
    text-transform: uppercase;
}
.content .left p {
    padding-top: 10px;
    font-size: 12px;
    line-height: 15px;

}
.content .left span {
    padding-top: 5px;

}
.content .left span a {
    text-transform: uppercase;
    text-decoration: none;
    color: lightseagreen;

}
.features {
    margin: 50px 0px;
}

.event img {

    width: 200px;
    margin-top: 10px;
    float: left;
    margin-right: 20px;

}

.right {
    float:right;
    padding:35px;

    width: 38%;

}
.map {
    height: 150px;

    margin-left: 50px;

}
.right .map img {
    height: 100%;
    width: 100%;

}
.info {
    margin-top: 40px;
    padding: 40px 60px;
    border: solid 1px lightgrey;
    box-shadow: 2px 2px darkgrey;

}
.info h2 {
    color: orange;
    padding-bottom: 15px;
    
}
.right .info ul {
    list-style: square;
    
}   
.info ul li a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
    line-height: 22px;
    

}
footer {
    height:50px;
    background-color:green;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding-top:15px;

}


